main {
    width: calc(100% - 85px);
    position: relative;
    left: 85px;
    top: 60px;
    height: 96%;
    display: flex;
    justify-content: center;
}



.mt-5 {
    margin-top: 5rem;
}

.our-games {
    background-color: #f8f9fa;
    padding: 100px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-center h2 {
    font-weight: 500;
    font-size: 1.6em;
}

.text-center h2 span {
    font-weight: 800;
}

.text-center p {
    max-width: 500px;
    margin: 0 auto;
    color: #6c757d;
    line-height: 1.5;
    font-size: 1em;
}

.col {
    width: 33.3333333%;
    overflow: hidden;
    padding: 15px;
}

.card>img {
    width: 100%;
}

.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

@media(min-width: 577px) and (max-width: 768px) {
    .col {
        width: 50%;
    }
}

@media(max-width: 576px) {
    .col {
        width: 100%;
    }
}
