*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #2E3647;
}

/**
 * Navbar
 */

nav {
    background-color: #E34E33;
}

.select2-selection {
    border: 0 !important;
    border-bottom: 1px solid #FFFFFF !important;
    border-radius: 0 !important;
    background-color: #E34E33 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-selection:focus {
    outline: 0 !important;
}

.select2-selection__rendered {
    margin: 0 10px !important;
    padding: 0 !important;
}

.select2-selection__placeholder {
    text-align: center !important;
    color: #FFFFFF !important;
}

.select2-selection__arrow {
    display: none !important;
}

.select2-search__field {
    border: 0 !important;
    border-bottom: 1px solid #2E3647 !important;
}

.select2-search__field {
    outline: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #2E3647 !important;
}

.select2-dropdown {
    border: 0 !important;
    border-radius: 0 !important;
}

/**
 * MAIN CONTENT
 */

.box {
    background-color: #fff;
    position: relative;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #2E3647;
}

.box-header {
    background-color: #fff;
    position: relative;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #2E3647;
}

/**
 * PERFILES
 */

header {
    position: relative;
    color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 #2E3647;
}

header img {
    filter: brightness(50%);
    width: 100%;
}

header div {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

header div ul {
    list-style: none;
}

header div ul li a {
    color: #f0f0f0;
}

/**
 * MEDIA QUERIES
 */

@media (max-width: 480px) {

    header div {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }

    header div h1 {
        font-size: 16px !important;
    }

    header div ul li {
        color: #f0f0f0;
        font-size: 11px !important;
    }
}
