*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #2E3647;
}

.swal-height {
    height: 400px;
    justify-content: end !important;
    padding-right: 0 !important;
}

.swal-height>.swal2-header {
    padding-left: 0 !important;
}

.swal-height>.swal2-header>.swal2-title {
    min-width: 100% !important;
}

.swal-height>.swal2-content>.swal2-html-container {
    height: 330px;
    overflow: auto;
    text-align: left;
}

.swal-height>.swal2-content {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**
 * FLOAT MENU
 */

.perfil {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 170px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
}

.perfil:hover {
    width: 195px;
}

.perfil:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Ver perfil";
}

.analisis {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 100px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
}

.analisis:hover {
    width: 195px;
}

.analisis:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo análisis";
}

.estado {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
}

.estado:hover {
    width: 195px;
}

.estado:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo estado";
}

.juego {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 100px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
}

.juego:hover {
    width: 195px;
}

.juego:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo juego";
}

.campania {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
}

.campania:hover {
    width: 195px;
}

.campania:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nueva campaña";
}

/**
 * Submenu
 */

.sticky-top .nav-link {
    color: black !important;
}

/**
 * Navbar
 */

nav {
    background-color: #E34E33;
}

.nav-link {
    color: white !important;
}

/*
 ** PAGINATOR
 */

.noticias {
    background-color: #eeeeee;
}

.items>div {
    border: 0 !important;
    padding: 20px !important;
    margin-bottom: 20px;
}

.items>div::after {
    background: #2E3647 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    margin-top: 15px !important;
    width: 100%;
}

.pager div {
    float: left;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
}

.pager div.disabled {
    opacity: 0.25;
}

.pager .pageNumbers a {
    display: inline-block;
    padding: 0 10px;
    color: gray;
}

.pager .pageNumbers a.active {
    color: orange;
}

.pager {
    overflow: hidden;
}

/**
 * MAIN CONTENT
 */

.box {
    background-color: #fff;
    position: relative;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 #999;
}

.box-header {
    background-color: #fff;
    position: relative;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 #999;
}

/**
 * PERFILES
 */

header {
    position: relative;
    color: white;
    position: relative;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 #333;
}

header img {
    filter: brightness(50%);
    width: 100%;
}

header div {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

header div ul {
    list-style: none;
}

header div ul li a {
    color: #f0f0f0;
}

/**
 * CAMPAÑAS
 */

.mensajes {
    word-wrap: break-word;
}

/**
 * MEDIA QUERIES
 */

@media (max-width: 480px) {

    header div {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }

    header div h1 {
        font-size: 16px !important;
    }

    header div ul li {
        color: #f0f0f0;
        font-size: 11px !important;
    }
}


header .carousel-caption {
    bottom: initial;
}

.nav-alert {
    z-index: 1;
}




.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 80px;
    color: #343a40;
    text-align: center;
    border: 3px solid #343a40;
    font-weight: bold;
    position: relative;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
}


.title {
    text-align: center;
}

.calendar-container {
    position: relative;
    margin: 50px auto;
    max-width: 500px;
}

.calendar {
    color: #2c3646 !important;
}

.calendar header {
    color: #2c3646 !important;
}

.calendar header div {
    position: relative !important;
    left: auto;
    top: 10px;
}












.container {
    position: relative;
}

.more-div {
    width: 100%;
    height: 100% !important;
    background-color: white !important;
    position: absolute;
    top: 0%;
    margin: 0 !important;
    z-index: 1030;
    left: -10000px;
    transition: left .5s;
    overflow: auto;
}

