*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #2E3647;
}

.swal-height {
    margin-top: 80px !important;
    height: 500px;
    justify-content: end !important;
    padding-right: 0 !important;
}

.swal-height>.swal2-header {
    padding-left: 0 !important;
}

.swal-height>.swal2-header>.swal2-title {
    min-width: 100% !important;
}

.swal-height>.swal2-content>.swal2-html-container {
    height: 420px;
    overflow: auto;
    text-align: left;
}

.swal-height>.swal2-content {
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**
 * FLOAT MENU
 */

.perfil {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 350px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
    z-index: 2;
}

.perfil:hover {
    width: 195px;
}

.perfil:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Ver perfil";
}

.analisis {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 280px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
    z-index: 2;
}

.analisis:hover {
    width: 195px;
}

.analisis:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo análisis";
}

.estado {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 210px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
    z-index: 2;
}

.estado:hover {
    width: 195px;
}

.estado:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo estado";
}

.juego {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 280px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
    z-index: 2;
}

.juego:hover {
    width: 195px;
}

.juego:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nuevo juego";
}

.campania {
    position: fixed;
    background: #e3a633;
    color: #333;
    padding-right: 15px;
    right: -20px;
    bottom: 210px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease;
    cursor: pointer;
    z-index: 2;
}

.campania:hover {
    width: 195px;
}

.campania:hover:after {
    display: inline-table;
    margin-left: 5px;
    font-weight: bold;
    content: "Nueva campaña";
}

/**
 * Submenu
 */

.sticky-top .nav-link {
    color: black !important;
}

/**
 * Navbar
 */

nav {
    background-color: #E34E33;
}

.nav-link {
    color: white !important;
}

/*
 ** PAGINATOR
 */

.items>div {
    border: 0 !important;
    padding: 20px !important;
    margin-bottom: 20px;
}

.pager div {
    float: left;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;
}

.pager div.disabled {
    opacity: 0.25;
}

.pager .pageNumbers a {
    display: inline-block;
    padding: 0 10px;
    color: gray;
}

.pager .pageNumbers a.active {
    color: orange;
}

.pager {
    overflow: hidden;
}

/**
 * MAIN CONTENT
 */

.box {
    background-color: #fff;
    position: relative;
    padding: 1.5rem;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 #999;
}

.box-header {
    background-color: #fff;
    position: relative;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 #999;
}

/**
 * PERFILES
 */

header {
    position: relative;
    color: white;
    position: relative;
    border-radius: 2px;
}

header img {
    filter: brightness(50%);
    width: 100%;
}

header div {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

header div ul {
    list-style: none;
}

header div ul li a {
    color: #f0f0f0;
}

/**
 * CAMPAÑAS
 */

.mensajes {
    word-wrap: break-word;
}

/**
 * NOTAS MASTER
 */

.circle-lista {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    font-weight: bold;
    position: relative;
}

.berber {
    padding: 30px;
    background-color: #343a40;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transform: scale(0.95);
    box-shadow: 0;
    transition: 0.2s;
    color: white;
}

.berber a {
    color: white;
}

.berber:hover {
    transform: scale(0.97);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition: .8s;
}

.berber-image {
    width: 50px;
    height: 50px;
    background-color: #636e72;
    border-radius: 5px;
    font-size: 40px;
    float: left;
    margin-right: 10px;
}

.berber-fullname {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #b2bec3;
}

.berber-dukkan {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #FFF;
}

header .carousel-caption {
    bottom: initial;
}

.footer-noticias {
    position: absolute;
    bottom: 0;
}

.nav-alert {
    z-index: 1;
}




.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 50px;
    color: #343a40;
    text-align: center;
    border: 3px solid #343a40;
    font-weight: bold;
    position: relative;
}

.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
}


.title {
    text-align: center;
}

.calendar-container {
    position: relative;
    margin: 50px auto;
    max-width: 500px;
}

.calendar {
    color: #2c3646 !important;
}

.calendar header {
    color: #2c3646 !important;
}

.calendar header div {
    position: relative !important;
    left: auto;
    top: 10px;
}






footer {
    z-index: 1;
}





.container {
    position: relative;
}

.more-div {
    width: 100%;
    height: 100% !important;
    background-color: white !important;
    position: absolute;
    top: 0%;
    margin: 0 !important;
    z-index: 1030;
    left: -10000px;
    transition: left .5s;
    overflow: auto;
}


.card>img {
    width: 100%;
}

.item-card {
    transition: 0.5s;
    cursor: pointer;
}

.item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

main {

    display: flex;
    flex-direction: column;
    min-height: 78vh;
}

/**
 * TABLES
 */

thead {
    background-color: #E34E33;
    color: #FFF;
}

.page-item.active .page-link {
    background-color: #E34E33 !important;
    border: 1px solid black;
    color: white !important;
}

.page-link {
    color: black !important;
}

.page-link:hover {
    background: #ef58003f !important;
    color: black !important;
}

.page-link:focus {
    border: 1px solid black !important;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    margin: auto;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

.select-nota {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 60px;
    text-align-last: center;
}

.select-nota::-ms-expand {
    display: none;
}

.hr-busqueda {
    width: 75%;
    height: 1px;
    background: #000;
    margin: auto;
}

.header-imagen {
    padding: 50px;
}

/**
 * MEDIA QUERIES
 */

@media (max-width: 480px) {

    header div {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);
    }

    header div h1 {
        font-size: 16px !important;
    }

    header div ul li {
        color: #f0f0f0;
        font-size: 11px !important;
    }

    .berber-fullname {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #b2bec3;
    }

    .circle-lista {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 35px;
        margin: 5px 5px;
    }

    .berber {
        padding: 5px;
    }

    .header-imagen {
        padding: 10px;
    }
}
